@font-face {
  font-family: fontTicket;
  src: url("../assets/Pony.ttf");
}
.bg_Ticket {
  font-family: fontTicket;
}
.gheChuaDat {
  width: 40px;
  height: 30px;
  font-size: 12px;
  border-radius: 5px;
}
.gheDuocDat {
  background: orange;
  cursor: no-drop !important;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  font-size: 12px;
}

.gheDangDat {
  background: rgb(109, 238, 109);
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  font-size: 12px;
}

.firstChar {
  color: yellow;
  font-size: 35px;
  margin-right: 15px;
}

.roof {
  border-bottom: 30px solid rgb(255, 159, 95);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;

  width: 90%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
}
.bg__form {
  backdrop-filter: blur(3px);
}
.rowSo {
    color: yellow;
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    font-size: 25px;
  }
